* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
}
body {
    background-color: darkgrey;
}
table {
    border-right: 5px solid red;
    border-top: 5px solid blue;
    border-left: 5px solid red;
    border-bottom: 5px solid blue;
    margin-top: 15%;
    text-align: center;
    background-image: url(../image/huella.jpg);

}
.raza {
    background-color: lightpink;
}
.fila1 {
    background-color:green;
}
th, td {
    border: 2px solid;
    border-bottom: 3px solid;
    border-top: 3px solid;
}
.tamaño {
    background-color: cornflowerblue;
}